/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-family: "Roboto";
  font-size: 35px;
  color: #0f172a;
  font-weight: bold;
  margin-bottom: 45px;
}

.name{
 font-family: "Bree Serif";
  font-size: 15px;
  color: white;   
  font-weight: 500;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.box-1 {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
}

.box-2 {
  background-color: #38bdf8;
  height: 200px;
  width: 200px;
}
.box-3 {
  background-color: #ec4899;
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 768px){
    .title{
        font-size: 50px;
    }

    .name{
        font-size: 25px;
    }

    .boxes-container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .box-container{
        margin-right: 20px;
    }
}